/* CSS declarations go here */
.form-control {
	width: 800px;
}

form {
	padding-left: 80px;
	padding-top: 50px;
}

h1 {
	text-align: center;
}

.map-container {
  width: 800px;
  height: 500px;
  padding-left: 220px;
  padding-top: 50px;
}
