<template name="places">
  <div class="container-fluid" style="padding-top: 75px;">
      <div class="row">
          
          <div class="col-sm-6 col-md-5 sidebar">
              <h1>Todos os lugares públicos perto de você!</h1>
            
              <div id="place-filters" class="filter">
                <form>
                    <ul>
                    {{#each placeTypes}}
                      <li style="float: left; padding: 5px; list-style-type: none;"><input type="checkbox" name="place-type" value="{{this}}" class="filter" />
                          {{{placeIcon this}}}{{this}}
                      </li>
                    {{/each}}
                    </ul>
                </form>
            
              </div>
          </div>

          <div class="col-sm-6 col-md-7">
              <div class="map-container" id="upcoming-maps">
                  <div id="export"><img src="img/json.png"/></div>
                {{> googleMap name="places" options=MapOptions}}
              </div>
          </div>

      </div>
 </div>
</template>
