<template name="home">
    <style type="text/css">
    .home-section {
        color: white;
        background-position: center;
        padding-bottom: 90px;
        padding-top: 90px;
    }
    
    #section-como-funciona {
        background-color: #3EBCE0;
    }
    
    #section-quem-somos-nos {
        background-color: #efb821;
    }
    
    @media (min-width: 768px) {
        .home-section {
            background-size: 100%;
        }
        .home-section-float {
            margin-top: -20px;
            margin-bottom: -20px;
        }
    }
    
    @media (min-width: 1150px) {
        .home-section {
            padding-bottom: 150px;
            padding-top: 150px;
        }
    }
    
    .home-section .contact input,
    .home-section .contact textarea {
        width: 100%;
    }
    
    .home-section form.contact {
        padding: 0;
        text-align: left;
    }
    </style>
    <div class="container-fluid">
        <div class="home-section text-center row" style="background-image: url('/img/home_1.jpg')">
            <div class="col-xs-12">
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                    <img class="img-responsive" src="/img/logo.png">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-md-4 col-md-offset-4">
                    <h4>Ocupando os espaços públicos, <b>JUNTOS!</b></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="home-section-float col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" id="section-como-funciona">
                <div class="row">
                    <div class="col-xs-7">
                        <h3><b>Como funciona o projeto?</b></h3>
                        <p style="color: #fff">Com o Criatividades você pode conhecer e aproveitar ao máximo todos os espaços públicos de Curitiba! Crie encontros e saiba o que está rolando pela cidade.</p>
                    </div>
                    <div class="col-xs-5" style="padding: 15px">
                        <img class="img-responsive pull-right" src="/img/interrogacao.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section text-center row" style="background-image: url('/img/home_2.jpg')">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    <h3 class="logo-font" style="color: black"><b>BUSQUE E CRIE ENCONTROS</b></h3>
                    <h4><a href="/events/now">Veja tudo que está rolando pela cidade</a> em um mapa interativo. Além disso, você mesmo pode <a href="/events/add">criar novos encontros</a> e manter a cidade ativa.</h4  >
                </div>
                <div class="col-md-4">
                    <h3 class="logo-font" style="color: black"><b>DESCUBRA OS ESPAÇOS PÚBLICOS</b></h3>
                    <h4><a href="/places">Conheça o que a cidade disponibiliza para você!</a> Existem mais lugares por aí do que você imagina.</h4>
                </div>
                <div class="col-md-4">
                    <h3 class="logo-font" style="color: black"><b>PROPONHA MELHORIAS</b></h3>
                    <p>Você esteve em um encontro do Criatividades e achou que o espaço precisa de melhorias? Tem alguma idéia legal para que o espaço fique ainda melhor? Proponha projetos para a comunidade ou para a prefeitura!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="home-section-float col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" id="section-quem-somos-nos">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Quem somos nós</h3>
                    </div>
                    <div class="col-md-8">
                        <a href="http://openbrazil.org/curitiba/" target="0"><img class="img-responsive" style="margin: 0px 0px 0px 0px;" src="/img/codeforcuritiba.png" href="http://openbrazil.org/curitiba/"></a>
                    </div>
                    <div class="col-md-4">
                        <h3></h3>
                        <h4>O Criatividades foi criado pelo Code for Curitiba, um grupo de hackers cívicos que trabalham para melhorar a nossa cidade. <a href="http://openbrazil.org/curitiba/" target="0">Faça parte você também!</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-section text-center row" style="background-image: url('/img/home_3.jpg')">
            <div style="background-color: #CC62A4" class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6 hidden-xs hidden-sm">
                        <img class="img-responsive" src="/img/email-01.png" />
                    </div>
                    <div class="col-md-6" style="padding: 15px">
                        <h2 style="color: #000">FALE COM A GENTE!</h2>
                        <form class="contact">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Nome e Sobrenome">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
