<template name="home">
    <style type="text/css">
    .home-section {
        color: white;
        background-position: center;
        padding-bottom: 90px;
        padding-top: 90px;
    }
    
    @media (min-width: 768px) {
        .home-section {
            background-size: 100%;
        }
    }
    
    @media (min-width: 1150px) {
        .home-section {
            padding-bottom: 150px;
            padding-top: 150px;
        }
    }
    
    .home-section .contact input,
    .home-section .contact textarea {
        width: 100%;
    }
    
    .home-section form.contact {
        padding: 0;
        text-align: left;
    }
    
    #section-como-funciona {
        background-color: #3EBCE0;
        margin-top: -60px;
        margin-bottom: -80px;
    }
    </style>
    <div class="home-section text-center" style="background-image: url('/img/home_1.jpg')">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                <img class="img-responsive" src="/img/logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</h4>
                <h4>sed do eiusmod tempor incididunt ut labore et dolore magna</h4>
                <h4>aliqua. Ut enim ad minim veniam</h4>
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-3" id="section-como-funciona">
                <div class="row">
                    <div class="col-xs-7">
                        <h3>Como funciona o projeto?</h3>
                        <p style="color: #fff">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                    </div>
                    <div class="col-xs-5">
                        <img class="img-responsive" src="/img/interrogacao.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section text-center" style="background-image: url('/img/home_2.jpg')">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    <h3 class="logo-font" style="color: black">BUSCAR EVENTO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-md-4">
                    <h3 class="logo-font" style="color: black">BUSCAR ESPACO PUBLICO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
                <div class="col-md-4">
                    <h3 class="logo-font" style="color: black">CRIAR EVENTO</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section text-center" style="background-image: url('/img/home_3.jpg')">
        <div class="row">
            <div style="background-color: #CC62A4" class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6 hidden-xs hidden-sm">
                        <img class="img-responsive" src="/img/email-01.png" />
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <h2 style="color: #000">FALE COM A GENTE!</h2>
                                <form class="contact">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Nome e Sobrenome">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
