<head>
  <title>Criativiades - Atividades nos espaços públicos</title>
</head>

<body>
  {{>navBar}}
</body>

<template name="navBar">

 <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-new">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
      <a class="navbar-brand" href="/"><img src="/images/logohorizontal.png"/></a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/places">Espaços públicos</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Encontros<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/events/now">Proximos encontros</a></li>
            {{#if currentUser}}
            <li><a href="/events/add">Criar um encontro</a></li>
            {{/if}}
            <li><a href="/events/old">Encontros anteriores</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  </nav>
</template>
