<template name="oldEvents">
  <ul class="rig columns-3">
    <li>
      <img src="/enc1.jpg" />
    </li>
    <li>
      <img src="/enc2.jpg" />
    </li>
    <li>
      <img src="/enc3.jpg" />
    </li>
    <li>
      <img src="/enc4.jpg" />
    </li>
    <li>
      <img src="/enc5.jpg" />
    </li>
    <li>
      <img src="/enc6.jpg" />
    </li>
    <li>
      <img src="/enc7.jpg" />
    </li>
    <li>
      <img src="/enc8.jpg" />
    </li>
    <li>
      <img src="/enc9.jpg" />
    </li>
  </ul>
</template>
